@model PurchaseOrder

@using (Html.BeginForm("Edit", "PurchaseOrders", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.ValidationSummary()

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Unit)
        @Html.DropDownListFor(model => model.UnitId, (IEnumerable<SelectListItem>)ViewBag.Units)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Date)
        @Html.EditorFor(model => model.Date)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Operation)
        @Html.EditorFor(model => model.Operation)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Category)
        @Html.DropDownListFor(model => model.Category, Html.GetEnumSelectList<PurchaseOrder.PurchaseCategory>())
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Meal)
        @Html.DropDownListFor(model => model.Meal, Html.GetEnumSelectList<PurchaseOrder.MealCategory>())
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Priority)
        @Html.DropDownListFor(model => model.Priority, Html.GetEnumSelectList<PurchaseOrder.OrderPriority>())
    </div>

    <!-- VENDOR INFO -->

    <!-- TODO Add button to lookup vendor from previously used -->

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Vendor.Name)
        @Html.EditorFor(model => model.Vendor.Name)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Vendor.FedID)
        @Html.EditorFor(model => model.Vendor.FedID)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Vendor.BusinessPhone)
        @Html.EditorFor(model => model.Vendor.BusinessPhone)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Vendor.POC)
        @Html.EditorFor(model => model.Vendor.POC)
    </div>

    <!-- TODO Add Button to copy one address to the other -->

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Vendor.PhysicalAddress)
        @Html.EditorFor(model => model.Vendor.PhysicalAddress)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Vendor.RemitToAddress)
        @Html.EditorFor(model => model.Vendor.RemitToAddress)
    </div>

    <button type="submit">Save</button>
}